* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #0b1fa8;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.menu {
    font-size: 24px;
    cursor: pointer;
}

/* SEARCH BAR (DAY 5) */
.search-section {
    padding: 15px;
    background: #f5f5f5;
}

.search-form {
    display: flex;
    max-width: 350px;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
}

.search-form input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

/* Focus state */
.search-form input:focus {
    outline: 2px solid #0b1fa8;
}

.search-form button {
    background: #0b1fa8;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#message {
    text-align: center;
    color: red;
    margin-top: 5px;
}

/* CONTENT */
.content {
    padding: 20px;
    text-align: center;
}

/* CARDS */
.card-section {
    padding: 20px;
}

.card {
    background: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
}

.card h3 {
    margin: 15px 0;
}

.card p {
    padding: 0 15px;
}

.card button {
    margin: 15px;
    padding: 10px;
    width: 90%;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}
